{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "*": ".",
          "@components": "./src/components",
          "@apis": ["./src/apis"],
          "@utils": ["./src/utils"],
          "@pages": ["./src/pages"]
        }
      }
    ]
  ]
}
